.card-service {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3em 0;
    img {
        width: 40px;
    }
     @media screen and (max-width:900px) {
        align-items: center;
    }
}