.btn {
    background: var(--gradient);
    padding: .3em 1.5em;
    color: var(--White);
    cursor: pointer;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    -ms-border-radius: 2em;
    -o-border-radius: 2em;
    border-radius: 2em;
    -webkit-transition: opacity .3s ease-in;
    -moz-transition: opacity .3s ease-in;
    -ms-transition: opacity .3s ease-in;
    -o-transition: opacity .3s ease-in;
    transition: opacity .3s ease-in;
    &:hover {
        opacity: .7;
    }
    @media screen and (max-width:900px) {
        display: none;
    }
}