.articles {
    .articles-container {
        padding: 5em 0;
        h2 {
            margin-bottom: 1.5em;
            @media screen and (max-width:900px){
                padding: 0 1em;
                margin-bottom: .5em;
            }
        }
        .wrapper {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 3rem;
            @media screen and (max-width:900px) {
                padding: 5em 1em;
                grid-template-columns: 1fr;
            }
        }
    }
}
