.hero {
    display: grid;
    grid-template-columns: 3fr 2fr;
    .hero-info {
        width: 100%;
        position: relative;
        padding: 7em 5em;
        .nav {
            background: var(--Black);
            display: flex;
            position: absolute;
            bottom: 0;
            left: 0;
            gap: 3rem;
            padding: 1em 1.5em;
            align-items: center;
            justify-content: center;
            @media screen and (max-width:950px) {
                right: 0;
                left: auto;
                top: -45px;
                bottom: auto;
            }
        }
        h1 {
            font-size: 3vw;
            text-wrap: balance;
            line-height: 1;
            margin-bottom: .5em;
        }
        p {
            margin-bottom: 2em;
        }
        .cta {
            display: flex;
            gap: 2rem;
            cursor: pointer;
            small {
                font-weight: 500;
                color: var(--Black);
                font-size: 2rem;
                letter-spacing: 8px;
            }
            img {
                width: 32px;
                object-fit: contain;
                object-position: right center;
            }
        }
    }
    @media screen and (max-width:950px) {
        grid-template-columns: 1fr;
    }
}