.services {
    padding: 5em 0;
    .services-container {
        .info {
            max-width: 50%;
            h2 {
                margin-bottom: .5em;
            }
            p {
                margin-bottom: 2em;
            }
            @media screen and (max-width:900px) {
                max-width: 100%;
            }
        }
        .service {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 2rem;
            @media screen and (max-width:900px) {
               grid-template-columns: 1fr;
            }
        }
        @media screen and (max-width:900px) {
            text-align: center;
        }

    }
    @media screen and (max-width:900px) {
        margin-top: 0;
    }
}
