.navbar {
    padding: 5em 4em;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    color: var(--White);
    .navbar-container {
        display: flex;
        align-items: center;
        gap: 3rem;
        position: relative;

        .logo {
            @media screen and (max-width:900px) {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50% -50%);
                -webkit-transform: translate(-50% -50%);
                -moz-transform: translate(-50% -50%);
                -ms-transform: translate(-50% -50%);
                -o-transform: translate(-50% -50%);
            }
        }

        .menu_icon {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            @media screen and (min-width:900px) {
                display: none;
            }
        }

        .nav-menu {
            display: flex;
            align-items: center;
            gap: 2rem;
            font-size: 1.7rem;
            @media screen and (max-width:900px) {
                display: none;
                &.move {
                    z-index: 20;
                    display: flex;
                    background: var(--White);
                    color: var(--Black);
                    font-weight: 600;
                }
            }
            @media screen and (max-width:400px){
                font-size: 1rem;
            }
        }

    }
    @media screen and (max-width:900px){
        padding: 2em;
        &.move {
            background: var(--White);
            color: var(--Black);
        }
    }
}