.footer {
    background: var(--DarkBlue);
    color: var(--White);
    text-align: center;
    font-weight: 300;
    font-size: 1.5rem;
    &-container {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        padding: 2em 0;
        .footer-logo {
            display: flex;
            flex-direction: column;
            gap: 3rem;
            justify-content: center;
            align-items: center;
            .logo {
                width: 150px;
            }
            .footer-socials {
                display: flex;
                font-size: 3rem;
                gap: 2rem;
               svg {
                cursor: pointer;
                &:hover {
                    color: var(--LimeGreen);
                }
               }
            }
            @media screen and (min-width:1080px){
                align-items: flex-start;
            }
        }
        .footer-nav {
            display: flex;
            flex-direction: column;
            gap: 1rem;
             @media screen and (min-width:1080px){
                align-items: flex-start;
            }
        }
        .footer-info {
            display: flex;
            flex-direction: column;
            gap: 1rem;
             @media screen and (min-width:1080px){
                align-items: flex-start;
            }
        }
        .footer-cta {
            display: flex;
            flex-direction: column;
            gap: 3rem;
            align-items: center;
            justify-content: center;
            color: var(--LightGrayishBlue);
            p {
                font-size: 1.2rem;
                color: var(--White);
            }
            .btn {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            @media screen and (min-width:1080px){
                align-items: flex-end;
            }
        }
        @media screen and (min-width:1080px) {
           flex-direction: row;
           justify-content: space-between;
        }
    }
}

