:root {
    --DarkGray: hsl(0, 0%, 63%);
    --Black: hsl(0, 0%, 0%);
    --White: hsl(0, 0%, 100%);
    --VeryDarkGray: hsl(0, 0%, 27%);
}



.App {
    font-family: 'League Spartan', sans-serif;
    font-size: clamp(1.1rem,1vw, 2rem);
    line-height: 1.5;
    font-weight: 500;
    color: var(--DarkGray);
    background: var(--White);
    min-height: 100vh;
}

h1 {
    font-weight: 700;
}
h1, h2, h3 {
    color: var(--Black);
}