.not-found {
    width: 100%;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    .square {
        width: 200px;
        height: 200px;
        background: var(--gradient);
        cursor: pointer;
        -webkit-border-radius: 1em;
        -moz-border-radius: 1em;
        -ms-border-radius: 1em;
        -o-border-radius: 1em;
        border-radius: 1em;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: .5rem;
        .box {
            background: var(--White);
            width: 24px;
            height: 24px;
            &:last-child{
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                border-radius: 50%;
        }
        }
    }
    p {
        color: red;
        font-size: 2rem;
        font-weight: 400;
        text-align: center;
        margin-top: 2em;
    }
}